body {
   font-family     : sans-serif;
   background-color: #b0f8b6;
   text-align      : center;
}

h1 {
   padding-top: 4rem;
   font-size  : 2.5rem;
}

img {
   vertical-align: middle;
   width         : 120px;
}

p {
   color: #777777;
}
